/*
#picture {
    height:100%;
    padding: 50px 0;
    color: #fff;
    background-color: #000;
    background: url(../images/CrcFloorPlan.jpg) no-repeat bottom center scroll;
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80%;
    position:absolute;
}
*/

#map1 {
    margin-top:100px;
}

.fb-connect {
    
    /*background:url(../images/CrcFloorPlan.png) no-repeat 0px 0px; */
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50%;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
}



